body {
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
  font-family: 'Fjalla One', sans-serif;
}

.logo {
  width: 3%;
  height: 8%;
  padding-top: 4%;
  margin-left: 6.5%;
}

.header a {
  color: rgb(95, 92, 92);
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
}

.header a:hover, header i:hover {
  color: black;
}

button:hover {
  background-color: black;
}

a {
  margin-right: 5%;
}

.maindiv {
  word-break: keep-all;
  width: 35%;
  margin-left: 5%;
}

.maindiv h1 {
  font-size: 38px;
  color: rgb(113, 112, 112);
}

.maindiv h4 {
  font-size: 15px;
}

.maindiv button {
  background-color: grey;
  color: white;
  border-radius: 10px;
  width: 18%;
}

.maindiv button a {
  color: white;
  text-decoration: none;
}

.imgmain {
  width: 80%;
  height: 50%;
  margin: 20% 0 0 90%;
}

.head {
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
}

.firstpage {
  display: inline-flex;
  padding: 6% 0 12% 0;
}

.secondpart h1 {
  font-size: 40px;
  text-align: center;
}

hr {
  width: 10%;
  border-top: 8px dotted;
  margin-bottom: 8%;
}

.skills {
  width: 30%;
  margin-left: 5%;
  color: rgb(19, 19, 19);
  height: 40%;
  padding: 0 1% 0 2%;
  border-right: 2px solid black;
  text-align: center;
  line-height: 100px;
}

.skills h2 {
  text-align: center;
  text-decoration: underline;
}

.secondpart {
  display: inline-flex;
  width: 100%;
  padding-bottom: 5%;
}

.jobs {
  width: 80%;
  margin-left: 5%;
  margin-bottom: 10%;
  word-break: keep-all;
}

.checked {
  color: rgb(210, 206, 206);
}

#title {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 8%;
}

.education {
  line-height: normal;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 7%;
}

.education h2 {
  text-decoration: underline;
}

.job-1, .job-2, .job-3 {
  margin-top: 5%;
}

#projects-title{
text-align: center;

}
.yahtzee-section {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 5%;
  padding: 3%;
  background-color: #f9f9f9;

}

.yahtzee-description, .yahtzee-screenshot {
  width: 45%;
  margin: 2.5%;
}

.yahtzee-description h2, .yahtzee-description h3 {
  color: #333;
}

.yahtzee-description p, .yahtzee-description ul, .yahtzee-description ol {
  color: #555;
  line-height: 1.6;
}

.screenshot-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.footer {
  width: 40%;
  margin-left: 7%;
}

.footer h1 {
  font-size: 125px;
}

.footer h2 {
  border-bottom: 2px solid black;
  font-size: 40px;
  text-align: center;
  padding-bottom: 1%;
  width: 46.5%;
  margin-left: 15%;
}

.contact {
  display: flex;
}

.socials {
  margin-top: 10%;
  padding-left: 10%;
}

.socials i {
  font-size: 32px;
}

@media screen and (max-width: 1000px) {
  .maindiv {
    width: 250%;
  }

  .maindiv h1 {
    font-size: 20px;
  }

  .maindiv h4 {
    font-size: 8px;
  }

  .header a {
    font-size: 15px;
  }

  .head {
    text-align: center;
  }

  .logo {
    display: none;
  }

  .imgmain {
    width: 80%;
    height: 40%;
    margin: 60% 0 0 40%;
  }

  .skills {
    height: 40%;
  }

  .footer h1 {
    font-size: 20px;
  }

  .socials i {
    font-size: 10px;
  }

  .secondpart {
    font-size: 60%;
  }

  #title {
    font-size: 140%;
  }
}
